<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.studyandroid">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".No10_UnitTest.LocalUnitTest_MainActivity"></activity>
        <activity android:name=".No9_Gradle.Gradle_MainActivity" />
        <activity android:name=".no8_mvp_mvvm.DataBinding_MainActivity" />
        <activity android:name=".No7_SupportLibrary.RecyclerView.CardView.CardViewRecyclerView_MainActivity" />
        <activity android:name=".No7_SupportLibrary.RecyclerView.Manipulation.ManipulationRecyclerView_MainActivity" />
        <activity android:name=".No7_SupportLibrary.RecyclerView.Grid.GridRecyclerView_MainActivity" />
        <activity android:name=".No7_SupportLibrary.RecyclerView.Divider.DividerRecyclerView_MainActivity" />
        <activity android:name=".No7_SupportLibrary.RecyclerView.SimpleRecyclerView.SimpleRecyclerView_MainActivity" />
        <activity android:name=".No7_SupportLibrary.RecyclerView.RecyclerView_MainActivity" />
        <activity android:name=".No7_SupportLibrary.NotificationCompat.NotificationCompat_MainActivity" />
        <activity android:name=".No6_Service.IntentService.IntentService_MainActivity" />

        <service
            android:name=".No6_Service.IntentService.FibService"
            android:exported="false" />

        <activity android:name=".No6_Service.MusicPlayerService.MusicPlayerService_MainActivity" />

        <service
            android:name=".No6_Service.MusicPlayerService.BackgroundMusicService"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".No5_BroadcastReceiver.WakefulBroadcastReceiver.WakefulBroadcastReceiver_MainActivity" />
        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".No5_BroadcastReceiver.VolumeChangedBroadcastReceiver.VolumeChangedBroadcastReceiver" />

        <receiver android:name=".No5_BroadcastReceiver.WakefulBroadcastReceiver.MyReceiver">
            <intent-filter>
                <action android:name="com.example.studyandroid.No5_BroadcastReceiver.WakefulBroadcastReceiver.TEST_ACTION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service android:name=".No5_BroadcastReceiver.WakefulBroadcastReceiver.MyIntentService" /> <!-- 앱이 켜지면 Service 시작하는 Receiver | RECEIVE_BOOT_COMPLETED 퍼미션 선언해야 함 -->
        <!--
        <receiver android:name=".BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        -->
        <activity android:name=".No4_ContentProvider.WordOfToday2.WordOfToday_MainActivity" />

        <provider
            android:name=".No4_ContentProvider.WordOfToday2.WordOfTodayProvider"
            android:authorities="com.example.studyandroid.wordoftoday2"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".No4_ContentProvider.MediaStoreContentProvider.ContentProvider_MainActivity" />
        <activity android:name=".No3_Fragment.NetworkCheckFragment.NetworkCheck_MainActivity" />
        <activity android:name=".No3_Fragment.NestedFragment.NestedFragment_MainActivity" />
        <activity android:name=".No3_Fragment.DynamicFragment.Fragment_DynamicUsing" />
        <activity android:name=".No3_Fragment.StaticFragment.Fragment_StaticUsing" />
        <activity android:name=".No2_ViewAndLayout.CompositeCustomView" />
        <activity android:name=".No1_Activity.ConfigChanged" />
    </application>

</manifest>